

.cta-image-left-full-bleed {
	padding-top: 0;
	padding-bottom: 0;
	> .container {
		> .row {
			align-items: center;
			> .col {
				&:first-child {
					margin-top: 0;
					padding-left: 0;
                    padding-right: 0;
					flex-basis: initial;

					.outer-wrapper {
						position: relative;
						width: 100%;
						height: 100%;
						overflow: visible;
						min-height: 450px;
            margin-bottom: 0;

						.image-wrapper {
							width: calc(51vw);
							overflow: hidden;
							height: 100%;
							position: absolute;
							top: 0;
							right: 0;

							> .img-fluid {
								width: 50vw;
								height: 100%;
								object-fit: cover;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
					}
				}
				&:nth-child(2) {
					padding-left: 40px;
					text-align: left;

					> h2.heading-title {
						margin-top: -13px;
						font-size: 40px;
						line-height: 53.4px;
						margin-bottom: 0;
						&:before {
							height: 29px;
							top: 2px;
							left: -4px;
						}
					}

					> p.heading-description {
						max-width: 461px;
						margin: 25px 0 0 0;
						line-height: 25.5px;
						font-size: 16px;
						color: #464646;
					}

					> .btn {
            padding: 10px 10px;
            margin: 8px 0 0 -9px;
					}
				}

				@media only screen and (max-width: 991px) {
					&:first-child {

						.outer-wrapper {
							min-height: 409px;
              margin-bottom: 30px;

							.image-wrapper {
								// width: 100vw;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								> .img-fluid {
									width: 100%;
								}
							}
						}
					}
					&:nth-child(2) {
						text-align: center;
						padding-left: calc(var(--bs-gutter-x) * 0.5);

						> h2.heading-title {
							font-size: 28px;
							margin-top: 39px;
							display: inline-block;
							margin-bottom: 12px;

							&:before {
								display: none;
							}
						}

						> p.heading-description {
							max-width: 357px;
							margin: 0 auto;
						}

						> .btn {
							margin: 0 0 7px 0;
							padding: 15px 44px;
						}
					}
				}

        @media only screen and (max-width: 768px) {  
					&:first-child {

						.outer-wrapper {
							min-height: 309px;

							.image-wrapper {
								width: 100vw;
								> .img-fluid {

								}
							}
						}
					}
					&:nth-child(2) {
						
					}
        }
			}
		}
	}
}



.cta-image-right-full-bleed {
	padding-top: 0;
	padding-bottom: 0;
	> .container {
		> .row {
			align-items: center;
			> .col {
				&:first-child {
					margin-top: 0;
					padding-left: 0;
          padding-right: 0;
					flex-basis: initial;
          order: 2;

					.outer-wrapper {
						position: relative;
						width: 100%;
						height: 100%;
						overflow: visible;
						min-height: 450px;
            margin-bottom: 0;

						.image-wrapper {
              width: calc(50vw - 9px);
							overflow: hidden;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;

							> .img-fluid {
								width: 50vw;
								height: 100%;
								object-fit: cover;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
					}
				}
				&:nth-child(2) {
					padding-right: 40px;
					text-align: left;

					> h2.heading-title {
						margin-top: -13px;
						font-size: 40px;
						line-height: 53.4px;
						margin-bottom: 0;
						&:before {
							height: 29px;
							top: 2px;
							left: -4px;
						}
					}

					> p.heading-description {
						max-width: 461px;
						margin: 25px 0 0 0;
						line-height: 25.5px;
						font-size: 16px;
						color: #464646;
					}

					> .btn {
            padding: 10px 10px;
            margin: 8px 0 0 -9px;
					}
				}

				@media only screen and (max-width: 991px) {
					&:first-child {
            order: initial;
						.outer-wrapper {
							min-height: 409px;
              margin-bottom: 30px;

							.image-wrapper {
								// width: 100vw;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								> .img-fluid {
									width: 100%;
								}
							}
						}
					}
					&:nth-child(2) {
						text-align: center;
						padding-left: calc(var(--bs-gutter-x) * 0.5);

						> h2.heading-title {
							font-size: 28px;
							margin-top: 39px;
							display: inline-block;
							margin-bottom: 12px;

							&:before {
								display: none;
							}
						}

						> p.heading-description {
							max-width: 357px;
							margin: 0 auto;
						}

						> .btn {
							margin: 0 0 7px 0;
							padding: 15px 44px;
						}
					}
				}

        @media only screen and (max-width: 768px) {  
					&:first-child {

						.outer-wrapper {
							min-height: 309px;

							.image-wrapper {
								width: 100vw;
								> .img-fluid {

								}
							}
						}
					}
					&:nth-child(2) {
						
					}
        }
			}
		}
	}
}

.full-bleed-half-height-container {
    min-height: 537px;
    height: 100%;
    background-color: unset;
    overflow: hidden;
    position: relative;

    .full-bleed-child {
      position: absolute;
      height: 100%;
      width: 100vw; // laptop 
      left: 0px;
      z-index: 1;

      @media (max-width:991px) { //ipad
          padding-top: 0;
          padding-bottom: 0;
          height: 47vh;
          overflow: hidden;
          position: initial;
          width: initial;
          left: initial;
          z-index:initial;
      }

      img {
        height: auto;
        object-fit: cover;
        width: 100%;
        margin-left: 0;
        @media (max-width:991px) {
            padding-left: 0;
            padding-top: 0;
            object-fit: cover;
            height: 100%;
        }
        @media (max-width: 767px) {
          transform: none;
        }
      }
    }
}


.min-h-280 {
	min-height: 288px!important;
	@media (max-width: 767px) {
		min-height: initial;
	}
}

.min-h-100 {
	min-height: 100px!important;
	@media (max-width: 767px) {
		min-height: initial;
	}
}